﻿
<footer class="page-footer green">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Minecord</h5>
                <p class="grey-text text-lighten-4">An original and robust Minecraft™ bot for Discord. Minecord has a wide range of utilities, from player IDs to Minecraft recipes. Various functions, active development and staff makes Minecord the perfect bot for you Minecraft Discord server.</p>
            </div>
            <div class="col l4 s12 offset-l1">
                <a href="https://discordbots.org/bot/292279711034245130">
                    <img src="https://discordbots.org/api/widget/292279711034245130.png" alt="Discord Bots"/>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Minecord by Tis_Awesomeness. Website built with <3 by Samuel Simão (Mucapapipa).
        </div>
    </div>
</footer>